{
	"swagger": "2.0",
	"info": {
		"description": "Domainrobot JSON API for managing: Domains, SSL\n\t\t\t\t\t\t\t\t\t\t\tCertificates, DNS and\n\t\t\t\t\t\t\t\t\t\t\tmuch more.",
		"version": "v1",
		"title": "Domainrobot JSON API"
	},
	"host": "api.autodns.com",
	"basePath": "/v1",
	"tags": [
		{
			"name": "Accounting Tasks"
		},
		{
			"name": "Certificate Tasks"
		},
		{
			"name": "Contact Tasks"
		},
		{
			"name": "Customer account Tasks"
		},
		{
			"name": "Document Tasks"
		},
		{
			"name": "Domain Tasks"
		},
		{
			"name": "DomainPremium Tasks"
		},
		{
			"name": "DomainPrereg Tasks"
		},
		{
			"name": "Job Tasks"
		},
		{
			"name": "Logging Tasks"
		},
		{
			"name": "Microservice tasks"
		},
		{
			"name": "Notification Tasks"
		},
		{
			"name": "Poll Tasks"
		},
		{
			"name": "Price Tasks"
		},
		{
			"name": "Redirect Tasks"
		},
		{
			"name": "Session Tasks"
		},
		{
			"name": "SslContact Tasks"
		},
		{
			"name": "Test Tasks"
		},
		{
			"name": "Transfer Request Tasks"
		},
		{
			"name": "TrustedApplication Tasks"
		},
		{
			"name": "User Tasks"
		},
		{
			"name": "Zone Tasks"
		},
		{
			"name": "notification user tasks"
		},
		{
			"name": "payment transaction tasks"
		}
	],
	"schemes": ["https"],
	"paths": {
		"/account": {
			"get": {
				"tags": ["Customer account Tasks"],
				"summary": "Get account",
				"description": "Fetch the account data of a customer.",
				"operationId": "AccountInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataAccount",
							"$ref": "#/definitions/JsonResponseDataAccount"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataAccount",
							"$ref": "#/definitions/JsonResponseDataAccount"
						}
					}
				}
			}
		},
		"/account/_charge": {
			"post": {
				"tags": ["Customer account Tasks"],
				"summary": "Account charge",
				"description": "charges the account of a customer",
				"operationId": "AccountChargePromo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataAccount",
							"$ref": "#/definitions/JsonResponseDataAccount"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataAccount",
							"$ref": "#/definitions/JsonResponseDataAccount"
						}
					}
				}
			}
		},
		"/accounting": {
			"post": {
				"tags": ["Accounting Tasks"],
				"summary": "Create AccountingDocument",
				"description": "Create an accounting document.",
				"operationId": "accountingDocumentCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "accountingDocument",
						"required": false,
						"schema": {
							"originalRef": "AccountingDocument",
							"$ref": "#/definitions/AccountingDocument"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/accounting/_search": {
			"post": {
				"tags": ["Accounting Tasks"],
				"summary": "List AccountingDocument",
				"description": "Inquire a list of accounting documents with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "accountingDocumentListe",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/accounting/calculate": {
			"post": {
				"tags": ["Accounting Tasks"],
				"summary": "Calculate AccountingDocument",
				"description": "Calculate an accounting document. This call is for fetching the prices for certain objects.",
				"operationId": "accountingDocumentCalculate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/accounting/{id}": {
			"get": {
				"tags": ["Accounting Tasks"],
				"summary": "Get AccountingDocument",
				"description": "Fetch the data for the specified accounting document.",
				"operationId": "accountingDocumentInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"put": {
				"tags": ["Accounting Tasks"],
				"summary": "Update AccountingDocument",
				"description": "Update an existing accounting document.",
				"operationId": "accountingDocumentUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/certificate": {
			"post": {
				"tags": ["Certificate Tasks"],
				"summary": "Create Certificate",
				"description": "Order a new certificate. The operation is asynchronous and creates a job.",
				"operationId": "certificateCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Certificate",
							"$ref": "#/definitions/Certificate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			}
		},
		"/certificate/_prepareOrder": {
			"post": {
				"tags": ["Certificate Tasks"],
				"summary": "Prepare certificate order",
				"description": "Prepare a certificate order. This call checks the csr and generates authentication data required for further calls like order, renew, reissue, revoke, delete.",
				"operationId": "certificatePrepareOrder",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificateData",
						"required": false,
						"schema": {
							"originalRef": "CertificateData",
							"$ref": "#/definitions/CertificateData"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/certificate/_search": {
			"post": {
				"tags": ["Certificate Tasks"],
				"summary": "List Certificates",
				"description": "Inquire a list of certificates with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "certificateList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/certificate/{id}": {
			"get": {
				"tags": ["Certificate Tasks"],
				"summary": "Get Certificate",
				"description": "Inquire the data for the specified certificate.",
				"operationId": "certificateinfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"put": {
				"tags": ["Certificate Tasks"],
				"summary": "Reissue Certificate",
				"description": "Reissue an existing certificate. The operation is asynchronous and creates a job.",
				"operationId": "certificateReissue",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Certificate",
							"$ref": "#/definitions/Certificate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			},
			"delete": {
				"tags": ["Certificate Tasks"],
				"summary": "Delete Certificate",
				"description": "Delete an existing certificate. The operation is asynchronous and creates a job.",
				"operationId": "certificateDelete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			}
		},
		"/certificate/{id}/_comment": {
			"put": {
				"tags": ["Certificate Tasks"],
				"summary": "Update Certificate Comment",
				"description": "Update a comment for an existing certificate.",
				"operationId": "certificateCommentUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Certificate",
							"$ref": "#/definitions/Certificate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/certificate/{id}/_renew": {
			"put": {
				"tags": ["Certificate Tasks"],
				"summary": "Renew Certificate",
				"description": "Renew an existing certificate. The operation is asynchronous and creates a job.",
				"operationId": "certificateRenew",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Certificate",
							"$ref": "#/definitions/Certificate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/certificate/{id}/_revoke": {
			"delete": {
				"tags": ["Certificate Tasks"],
				"summary": "Revoke Certificate",
				"description": "Revoke an existing certificate. The operation is asynchronous and creates a job.",
				"operationId": "certificateRevoke",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Certificate",
							"$ref": "#/definitions/Certificate"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/contact": {
			"post": {
				"tags": ["Contact Tasks"],
				"summary": "Create Contact",
				"description": "Create a new domain contact.",
				"operationId": "contactCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "contact",
						"required": false,
						"schema": {
							"originalRef": "Contact",
							"$ref": "#/definitions/Contact"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						}
					}
				}
			}
		},
		"/contact/_search": {
			"post": {
				"tags": ["Contact Tasks"],
				"summary": "List Contact",
				"description": "Inquire a list of contacts with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "contactList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "Query",
							"$ref": "#/definitions/Query"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						}
					}
				}
			}
		},
		"/contact/{id}": {
			"get": {
				"tags": ["Contact Tasks"],
				"summary": "Get Contact",
				"description": "Inquire the data for the specified domain contact.",
				"operationId": "contactInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						}
					}
				}
			},
			"put": {
				"tags": ["Contact Tasks"],
				"summary": "Update Contact",
				"description": "Update an existing domain contact.",
				"operationId": "contactUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"in": "body",
						"name": "body",
						"description": "contact",
						"required": false,
						"schema": {
							"originalRef": "Contact",
							"$ref": "#/definitions/Contact"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataContact",
							"$ref": "#/definitions/JsonResponseDataContact"
						}
					}
				}
			},
			"delete": {
				"tags": ["Contact Tasks"],
				"summary": "Delete Contact",
				"description": "Delete an existing domain contact.",
				"operationId": "contactDelete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						}
					}
				}
			}
		},
		"/document/{alias}": {
			"get": {
				"tags": ["Document Tasks"],
				"summary": "Get Document",
				"description": "Fetch the document for the given alias. The alias can be an ID, UUID or a script name like pricelist.xml.",
				"operationId": "documentInfoWithAlias",
				"produces": ["*/*"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "alias",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataBasicDocument",
							"$ref": "#/definitions/JsonResponseDataBasicDocument"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataBasicDocument",
							"$ref": "#/definitions/JsonResponseDataBasicDocument"
						}
					}
				}
			}
		},
		"/domain": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Create Domain",
				"description": "Order a new domain. The operation is asynchronous and creates a job.",
				"operationId": "domainCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/_buy": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Buy a domain from the premium market",
				"description": "Buy a domain from the premium market. The operation is asynchronous and creates a job.",
				"operationId": "domainBuy",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/_import": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Import Domain",
				"description": "Import a domain. The operation is asynchronous and creates a job.",
				"operationId": "domainImport",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/_search": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "List Domains",
				"description": "Inquire a list of domains with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "domainList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						}
					}
				}
			}
		},
		"/domain/_transfer": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Transfer Domain",
				"description": "Transfer a domain. The operation is asynchronous and creates a job.",
				"operationId": "domainTransfer",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						}
					}
				}
			}
		},
		"/domain/cancelation/_search": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "List cancelation Domains",
				"description": "Inquire a list of cancelations with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "domainCancelationList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/restore/_search": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "List restore Domains",
				"description": "Inquire a list of restorable domains with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "domainRestoreList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomainRestore",
							"$ref": "#/definitions/JsonResponseDataDomainRestore"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomainRestore",
							"$ref": "#/definitions/JsonResponseDataDomainRestore"
						}
					}
				}
			}
		},
		"/domain/{name}": {
			"get": {
				"tags": ["Domain Tasks"],
				"summary": "Get Domain",
				"description": "Fetch the data for the specified domain.",
				"operationId": "domainInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						}
					}
				}
			},
			"put": {
				"tags": ["Domain Tasks"],
				"summary": "Update Domain",
				"description": "Update an existing domain. The operation is asynchronous and creates a job.",
				"operationId": "domainUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/{name}/_authinfo1": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Create Domain Authinfo1",
				"description": "Create an authinfo1 for the specified domain.",
				"operationId": "domainAuthinfo1Create",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"delete": {
				"tags": ["Domain Tasks"],
				"summary": "Delete DomainAuthinfo1",
				"description": "Delete an existing authinfo1 for the specified domain.",
				"operationId": "domainAuthinfo1Delete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						}
					}
				}
			}
		},
		"/domain/{name}/_authinfo2": {
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Create Domain Authinfo2",
				"description": "Create an authinfo2 for the specified domain.",
				"operationId": "domainAuthinfo2Create",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						}
					}
				}
			}
		},
		"/domain/{name}/_comment": {
			"put": {
				"tags": ["Domain Tasks"],
				"summary": "Update Domain Comment",
				"description": "Update a comment for an existing domain.",
				"operationId": "domainCommentUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "certificate",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/{name}/_renew": {
			"put": {
				"tags": ["Domain Tasks"],
				"summary": "Renew Domain",
				"description": "Renew an existing domain.",
				"operationId": "domainRenew",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domain/{name}/_restore": {
			"put": {
				"tags": ["Domain Tasks"],
				"summary": "Restore Domain",
				"description": "Restore an existing domain.",
				"operationId": "domainRestore",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomain",
							"$ref": "#/definitions/JsonResponseDataDomain"
						}
					}
				}
			}
		},
		"/domain/{name}/cancelation": {
			"get": {
				"tags": ["Domain Tasks"],
				"summary": "Get DomainCancelation",
				"description": "Fetch the cancelation data for the specified domain.",
				"operationId": "domainCancelationInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomainCancelation",
							"$ref": "#/definitions/JsonResponseDataDomainCancelation"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomainCancelation",
							"$ref": "#/definitions/JsonResponseDataDomainCancelation"
						}
					}
				}
			},
			"post": {
				"tags": ["Domain Tasks"],
				"summary": "Create Domain Cancelation",
				"description": "Create a cancelation for the specified domain.",
				"operationId": "domainCancelationCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "DomainCancelation",
							"$ref": "#/definitions/DomainCancelation"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"put": {
				"tags": ["Domain Tasks"],
				"summary": "Update DomainCancelation",
				"description": "Update an existing cancelation for the specified domain.",
				"operationId": "domainCancelationUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domain",
						"required": false,
						"schema": {
							"originalRef": "Domain",
							"$ref": "#/definitions/Domain"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"delete": {
				"tags": ["Domain Tasks"],
				"summary": "Delete DomainCancelation",
				"description": "Delete an existing cancelation for the specified domain.",
				"operationId": "domainCancelationDelete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataJsonNoData",
							"$ref": "#/definitions/JsonResponseDataJsonNoData"
						}
					}
				}
			}
		},
		"/domainpremium/{name}": {
			"get": {
				"tags": ["DomainPremium Tasks"],
				"summary": "Get DomainPremium",
				"description": "Fetch the data for the specified premium domain.",
				"operationId": "domainPremiumInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"name": "provider",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataDomainPremium",
							"$ref": "#/definitions/JsonResponseDataDomainPremium"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataDomainPremium",
							"$ref": "#/definitions/JsonResponseDataDomainPremium"
						}
					}
				}
			}
		},
		"/domainprereg": {
			"post": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "Create DomainPrereg",
				"description": "Create a new domain preregistration.",
				"operationId": "domainPreregCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domainPrereg",
						"required": false,
						"schema": {
							"originalRef": "DomainPrereg",
							"$ref": "#/definitions/DomainPrereg"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domainprereg/_search": {
			"post": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "List DomainPrereg",
				"description": "Inquire a list of domain preregistrations with certain details. The data to be displayed can be extended per url paremeter.",
				"operationId": "domainPreregList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domainprereg/config": {
			"post": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "List DomainPreregConfig",
				"description": "Inquire a list of domain preregistration configurations.",
				"operationId": "domainPreregConfigList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/domainprereg/{uuid}": {
			"get": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "Get DomainPrereg",
				"description": "Fetch the data for the specified domain preregistration.",
				"operationId": "domainPreregInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "uuid",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"put": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "Update DomainPrereg",
				"description": "Update an existing domain preregistration.",
				"operationId": "domainPreregUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "uuid",
						"in": "path",
						"required": true,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "domainPrereg",
						"required": false,
						"schema": {
							"originalRef": "DomainPrereg",
							"$ref": "#/definitions/DomainPrereg"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			},
			"delete": {
				"tags": ["DomainPrereg Tasks"],
				"summary": "Delete DomainPrereg",
				"description": "Delete an existing domain preregistration.",
				"operationId": "domainPreregDelete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "uuid",
						"in": "path",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/hello": {
			"get": {
				"tags": ["Test Tasks"],
				"summary": "Hello",
				"description": "This route is only for testing the connection to the system. It does no operation.",
				"operationId": "hello",
				"produces": ["application/json", "application/xml"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataVoid",
							"$ref": "#/definitions/JsonResponseDataVoid"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataVoid",
							"$ref": "#/definitions/JsonResponseDataVoid"
						}
					}
				}
			}
		},
		"/intern/notification/user/{userId}": {
			"post": {
				"tags": ["notification user tasks"],
				"summary": "user notification",
				"description": "sends a websocket push note to a user",
				"operationId": "WebSocketPush",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						},
						"responseSchema": {
							"originalRef": "JsonResponseData",
							"$ref": "#/definitions/JsonResponseData"
						}
					}
				}
			}
		},
		"/intern/service": {
			"post": {
				"tags": ["Microservice tasks"],
				"summary": "micro service create",
				"description": "Create a microservices",
				"operationId": "MicroServiceCreate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						}
					}
				}
			}
		},
		"/intern/service/_search": {
			"post": {
				"tags": ["Microservice tasks"],
				"summary": "micro service list",
				"description": "List the microservices",
				"operationId": "MicroServiceList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						}
					}
				}
			}
		},
		"/intern/service/{id}": {
			"get": {
				"tags": ["Microservice tasks"],
				"summary": "micro service info",
				"description": "Fetch the microservice data",
				"operationId": "MicroServiceInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						}
					}
				}
			},
			"put": {
				"tags": ["Microservice tasks"],
				"summary": "micro service update",
				"description": "Update the microservices",
				"operationId": "MicroServiceUpdate",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						}
					}
				}
			},
			"delete": {
				"tags": ["Microservice tasks"],
				"summary": "micro service delete",
				"description": "Delete the microservice",
				"operationId": "MicroServiceDelete",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataMicroservice",
							"$ref": "#/definitions/JsonResponseDataMicroservice"
						}
					}
				}
			}
		},
		"/job/_search": {
			"post": {
				"tags": ["Job Tasks"],
				"summary": "List Jobs",
				"description": "Inquire a list of jobs with certain details.",
				"operationId": "jobList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			}
		},
		"/job/history/_search": {
			"post": {
				"tags": ["Job Tasks"],
				"summary": "List history jobs",
				"description": "Inquire a list of finished jobs with certain details.",
				"operationId": "jobHistoryList",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"in": "body",
						"name": "body",
						"description": "query",
						"required": false,
						"schema": {
							"originalRef": "QueryBuilder",
							"$ref": "#/definitions/QueryBuilder"
						}
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			}
		},
		"/job/history/{id}": {
			"get": {
				"tags": ["Job Tasks"],
				"summary": "Get history job",
				"description": "Inquire the data for the specified finished job.",
				"operationId": "jobHistoryInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Demo",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-SessionId",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Context",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-WS",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"required": true,
						"type": "integer",
						"format": "int32"
					}
				],
				"responses": {
					"200": {
						"description": "successful operation",
						"schema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						},
						"responseSchema": {
							"originalRef": "JsonResponseDataObjectJob",
							"$ref": "#/definitions/JsonResponseDataObjectJob"
						}
					}
				}
			}
		},
		"/job/{id}": {
			"get": {
				"tags": ["Job Tasks"],
				"summary": "Get Job",
				"description": "Inquire the data for the specified job.",
				"operationId": "jobInfo",
				"produces": ["application/json"],
				"parameters": [
					{
						"name": "X-Domainrobot-PIN",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
						"name": "X-Domainrobot-Owner-User",
						"in": "header",
						"required": false,
						"type": "string"
					},
					{
[...]
